h1 {
	text-align: center;
	font-family: 'Courgette', cursive;
}
.right {
	text-align: right;
}
p{
	font-family: 'Acme', sans-serif;
	font-size: 20px;
}
h3 {
	background-color: #b0e4f5;
	font-family: 'Courgette', cursive;
}
h2, p {
	font-family: 'Courgette', cursive;
} 
li {
	font-family: 'Bebas Neue', cursive;
}
body {
	background-color: #b2cbab;
}