h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive
	background-color: #fcfafa;
	border-radius: 75%;
	width: 500px;
	margin: 30px auto;
	color:white;
}
h2 {
	color:white; 
	font-family: 'Abril Fatface', cursive
}
h3 {
	color:white; 
	font-family: 'Abril Fatface', cursive
}
li {
	color:white;
	font-family: 'Abril Fatface', cursive
}
p {
	text-align: center;
	font-family: 'Acme', cursive;
	font-size: 18px;
	color: white;
}
body {
	background-color: #000000;
}