h1 {
	text-align: center;
	font-family: 'Courgette', cursive;
}
.right {
	text-align: right;
}
p{
	font-family: 'Acme', sans-serif;
	font-size: 20px;
}
h3 {
	background-color: #df4040;
	font-family: 'Courgette', cursive;
}
h2{
	font-family: 'Courgette', cursive;
	border-radius: 75%;
	width: 500px;
	margin: 30px auto
} 
li {
	font-family: 'Bebas Neue', cursive;
}
body {
	background-color: #b2cbab;
}